<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<outboundRules>
				<rule name="Rewrite SVGZ header" preCondition="IsSVGZ" stopProcessing="true">
					<match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
					<action type="Rewrite" value="gzip" />
				</rule>
				<preConditions>
					<preCondition name="IsSVGZ">
						<add input="{PATH_INFO}" pattern="\.svgz$" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
		<staticContent>
			<clear />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
		</staticContent>
	</system.webServer>
</configuration>
